@import '~@spartanbio/schedio-tokens/dist/web/scss/border-width.map';

/// Returns border width.
/// @param {String} $variant [base] - The border variant key.
/// @return {Number} The width for the border.

@function border-width($variant: 'base') {
  $fetched-value: map-get($border-width-data, $variant);

  @if $fetched-value {
    @return $fetched-value;
  } @else {
    @return 'Could not find border-width `#{$variant}`. Available widths: #{available-names($borders-width)}';
  }
}

/// Returns a border.
/// @param {String} $variant [base] - The border variant key.
/// @return {List} The border value.

@function border($variant: 'base') {
  $fetched-value: map-get($borders-data, $variant);

  @if $fetched-value {
    @return $fetched-value;
  } @else {
    @return 'Could not find border `#{$variant}`. Available borders: #{available-names($borders-data)}';
  }
}

$borders-data: (
  'base': border-width() solid color('night', 'lightest'),
  'dark': border-width() solid color('night')
);
