<template>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 178 45"
    style="enable-background: new 0 0 178 45;"
    xml:space="preserve"
    preserveAspectRatio="xMidYMid meet"
    class="logo"
    :class="classList"
    :style="{ maxWidth }"
  >
    <!-- eslint-disable -->
    <g class="logo__text">
      <!-- eslint-disable -->
      <path
        d="M4.1,34.1c0.6-2.2,1.1-4,1.4-5.3c2.5,1.2,4.9,1.9,7.3,1.9c1,0,1.9-0.1,2.8-0.4c0.9-0.3,1.7-0.6,2.2-1.1
        c0.6-0.5,0.9-1,1.2-1.7c0.2-0.5,0.2-0.9,0.1-1.3c-0.1-0.5-0.4-1.1-0.9-1.6c-0.6-0.8-1.7-2-3.2-3.8c-0.7-0.9-1.2-1.5-1.5-1.8
        c-0.6-0.8-1.1-1.5-1.3-2.2c-0.3-0.6-0.4-1.3-0.4-1.9c0-0.6,0.1-1.3,0.4-2c0.5-1.3,1.3-2.6,2.4-3.7c1.2-1.2,2.7-2.1,4.4-2.7
        c1.8-0.7,3.8-1,6.2-1c2.1,0,4.4,0.3,6.9,0.8c-0.4,1.5-0.9,3.2-1.3,5.1c-2-0.9-4-1.3-6-1.3c-1.5,0-2.8,0.3-3.9,0.9
        c-1.1,0.6-1.9,1.3-2.1,2.2c-0.1,0.2-0.1,0.5-0.1,0.7c-0.1,1,0.5,1.6,1,2.3c0.6,0.8,1.3,1.5,2,2.3c1.4,1.5,3,3.1,3.9,5
        c0.2,0.5,0.4,0.9,0.5,1.4c0.1,0.4,0.1,0.9,0,1.3c0,0.5-0.2,0.9-0.3,1.4c-0.4,1.2-1.1,2.3-2,3.4c-0.9,1.1-2.1,1.9-3.4,2.6
        c-1.3,0.7-2.7,1.1-4,1.4c-1.4,0.3-2.8,0.4-4.2,0.4c-1,0-2-0.1-3.2-0.2C7.6,34.8,6,34.5,4.1,34.1"
      />
      <path
        d="M23.9,40.8c1.7-3.9,3.7-8.8,6.1-15c2.4-6.1,4.2-11.1,5.6-14.9c3-0.5,5.3-0.8,6.9-0.9c1.6-0.2,3.2-0.2,4.7-0.2
        c2,0,3.8,0.2,5.3,0.7c1.5,0.4,2.6,1.2,3.3,2.2c0.6,1,1,2.2,1,3.6c0,1.4-0.2,2.8-0.7,4.3c-0.5,1.5-1.2,3-2.2,4.4
        c-0.9,1.4-2.1,2.7-3.4,3.8c-1.3,1.1-2.7,1.9-4.1,2.4c-1.4,0.5-2.9,0.8-4.4,0.8c-0.9,0-1.7-0.1-2.5-0.3c-0.8-0.2-1.4-0.4-2-0.8
        c-0.5-0.3-1-0.6-1.3-1c-0.3-0.3-0.7-0.8-1.1-1.5l-3.4,9l-0.5,1.4c-0.1,0.2-0.3,0.9-0.7,2.1c-1.4,0-2.4,0-3.1,0L23.9,40.8z
        M40.4,14.7c-0.4,0.7-0.6,1.4-0.9,1.9l-0.9,2.3c-0.4,1-0.7,1.7-0.8,2.2c-0.3,0.8-0.5,1.6-0.5,2.4c-0.1,0.8,0,1.5,0.4,2.1
        c0.3,0.6,0.8,1.1,1.5,1.5c0.6,0.3,1.4,0.5,2.2,0.5c1.1,0,2.3-0.3,3.4-0.9c1.1-0.6,2.1-1.5,3-2.6c0.9-1.2,1.6-2.4,2-3.7
        c0.5-1.4,0.6-2.7,0.4-3.7c-0.2-1-0.7-1.7-1.5-2.2c-0.8-0.5-1.8-0.7-3-0.7C44.2,13.9,42.4,14.2,40.4,14.7"
      />
      <path d="M63.8,14.8c0.5-1,0.9-1.7,1.1-2.1c0.2-0.4,0.5-1,0.9-1.8c2.2-0.4,4.1-0.7,5.7-0.9c1.6-0.2,3.1-0.3,4.6-0.3
        c1.6,0,3.1,0.2,4.3,0.5c1.2,0.3,2.1,0.9,2.6,1.7c0.5,0.8,0.5,1.9,0,3.3c-0.3,0.8-1.1,2.8-2.4,6c-1.3,3.2-2.6,6.6-3.8,10
        c-1.1,0-2.2,0-3.1,0c-0.9,0-2,0-3.2,0c0.8-1.7,1.6-3.6,2.4-5.8l2.1-5.2c-0.7,0.4-1.2,0.6-1.5,0.7c-0.3,0.1-0.7,0.3-1.1,0.4
        c-0.4,0.1-1.1,0.3-2.1,0.5c-1,0.2-1.8,0.5-2.5,0.6c-0.6,0.2-1.2,0.4-1.7,0.6c-0.5,0.2-1,0.5-1.4,0.8c-0.4,0.3-0.7,0.6-1,0.9
        c-0.3,0.3-0.4,0.6-0.6,1c-0.2,0.6-0.2,1.1,0,1.5c0.2,0.4,0.6,0.7,1.1,0.9c0.5,0.2,1.1,0.2,1.9,0.2c0.5,0,1,0,1.6-0.1
        c0.6-0.1,1.3-0.3,2.3-0.5c-0.6,0.8-1.3,2-2.3,3.5c-1.1,0.2-2,0.3-2.6,0.3c-0.6,0-1.2,0.1-1.8,0.1c-1.9,0-3.3-0.2-4.4-0.7
        c-1-0.5-1.7-1.2-1.9-2.2c-0.2-1-0.2-2,0.2-3.1c0.2-0.6,0.5-1.2,0.9-1.8c0.4-0.6,0.9-1.1,1.5-1.6c0.6-0.5,1.3-0.9,2.1-1.4
        c0.8-0.4,2-0.9,3.4-1.3c1.4-0.4,3.3-0.8,5.6-1.3c0.6-0.1,1.2-0.2,1.9-0.4c0.7-0.2,1.2-0.3,1.6-0.5c0.4-0.1,0.8-0.3,1.1-0.6
        c0.3-0.2,0.6-0.5,0.9-0.8c0.2-0.3,0.4-0.5,0.5-0.8c0.2-0.6,0.2-1-0.1-1.4c-0.2-0.4-0.6-0.6-1.2-0.8c-0.6-0.1-1.2-0.2-1.9-0.2
        C70.7,13,67.5,13.6,63.8,14.8" />
      <path d="M81.1,31.3l4-9.9l2.1-5.7c0.4-1.2,0.8-2.4,1.3-3.5c0.1-0.2,0.3-0.9,0.6-2c1.4,0,2.4,0,3,0c0.8,0,1.8,0,3,0l-1.1,3
        c0.8-0.7,1.5-1.3,2-1.7c0.5-0.4,1.1-0.7,1.7-0.9c0.6-0.3,1.2-0.5,1.9-0.6c0.7-0.1,1.3-0.2,2-0.2c0.6,0,1.2,0.1,1.8,0.2
        c-0.4,1.3-0.9,2.9-1.5,4.9c-0.8-0.3-1.5-0.4-2.3-0.4c-0.9,0-1.7,0.1-2.4,0.4c-0.7,0.2-1.5,0.6-2.2,1.1c-0.7,0.5-1.3,1.1-1.9,1.8
        c-0.5,0.6-0.9,1.3-1.4,2.3c-0.4,0.7-0.9,1.9-1.6,3.7c-0.7,1.7-1.3,3.5-1.9,5.1c-0.2,0.6-0.5,1.5-0.8,2.4c-1.1,0-2.1,0-3.1,0
        C83.5,31.3,82.4,31.3,81.1,31.3" />
      <path d="M116.5,27c-0.4,0.8-1.2,2.2-2.3,4.2c-1.3,0.3-2.4,0.4-3.1,0.5c-0.7,0.1-1.4,0.1-2,0.1c-1.1,0-2-0.1-2.8-0.3
        c-0.8-0.2-1.4-0.5-1.8-1c-0.4-0.5-0.6-1.1-0.6-1.7c0-0.7,0.2-1.3,0.4-2c0.1-0.2,0.1-0.4,0.3-0.7c0.1-0.3,0.5-1.3,1.2-3l3.5-8.6
        H106c0.4-0.8,0.9-2.2,1.6-4h3.4c0.4-0.8,0.9-2.2,1.7-4.1l2.8-0.5c0.6-0.1,1.7-0.3,3.4-0.7c-0.7,1.9-1.4,3.6-2,5.2h5.6
        c-0.7,1.9-1.2,3.2-1.5,4h-5.7c-2.2,5.6-3.5,8.9-3.8,9.8c-0.3,0.9-0.4,1.5-0.4,2c0,0.5,0.2,0.8,0.6,1c0.4,0.2,0.8,0.3,1.3,0.3
        c0.4,0,0.8,0,1.2-0.1C114.6,27.4,115.4,27.2,116.5,27" />
      <path d="M126.5,14.8c0.5-1,0.9-1.7,1.1-2.1c0.2-0.4,0.5-1,0.9-1.8c2.2-0.4,4.1-0.7,5.7-0.9c1.6-0.2,3.1-0.3,4.6-0.3
        c1.6,0,3.1,0.2,4.3,0.5c1.2,0.3,2.1,0.9,2.6,1.7c0.5,0.8,0.5,1.9,0,3.3c-0.3,0.8-1.1,2.8-2.4,6c-1.3,3.2-2.6,6.6-3.8,10
        c-1.1,0-2.2,0-3.1,0c-0.9,0-2,0-3.2,0c0.8-1.7,1.6-3.6,2.5-5.8l2-5.2c-0.7,0.4-1.2,0.6-1.5,0.7c-0.4,0.1-0.7,0.3-1.1,0.4
        c-0.4,0.1-1.1,0.3-2.2,0.5c-1,0.2-1.8,0.5-2.5,0.6c-0.6,0.2-1.2,0.4-1.7,0.6c-0.5,0.2-1,0.5-1.4,0.8c-0.4,0.3-0.7,0.6-1,0.9
        c-0.2,0.3-0.4,0.6-0.6,1c-0.2,0.6-0.2,1.1,0,1.5c0.2,0.4,0.6,0.7,1.1,0.9c0.5,0.2,1.1,0.2,1.9,0.2c0.5,0,1,0,1.5-0.1
        c0.6-0.1,1.3-0.3,2.3-0.5c-0.6,0.8-1.4,2-2.3,3.5c-1.1,0.2-2,0.3-2.6,0.3c-0.6,0-1.2,0.1-1.8,0.1c-1.9,0-3.3-0.2-4.4-0.7
        c-1-0.5-1.7-1.2-1.9-2.2c-0.2-1-0.2-2,0.2-3.1c0.2-0.6,0.5-1.2,0.9-1.8c0.4-0.6,0.9-1.1,1.5-1.6c0.6-0.5,1.3-0.9,2.1-1.4
        c0.8-0.4,2-0.9,3.4-1.3c1.4-0.4,3.3-0.8,5.6-1.3c0.6-0.1,1.2-0.2,1.9-0.4c0.7-0.2,1.2-0.3,1.6-0.5c0.4-0.1,0.8-0.3,1.2-0.6
        c0.3-0.2,0.6-0.5,0.8-0.8c0.2-0.3,0.4-0.5,0.5-0.8c0.2-0.6,0.2-1-0.1-1.4c-0.2-0.4-0.7-0.6-1.2-0.8c-0.6-0.1-1.2-0.2-1.9-0.2
        C133.4,13,130.2,13.6,126.5,14.8" />
      <path
        d="M143.7,31.3c1.4-3.1,2.9-6.7,4.5-10.6c1.6-3.9,2.9-7.4,4-10.5c1.4,0,2.4,0,3.2,0c1,0,2,0,3.1,0l-1.5,3.6
        c0.7-0.6,1.2-1.1,1.7-1.4c0.5-0.4,1-0.7,1.7-1.1c0.7-0.3,1.3-0.6,2-0.8c0.7-0.2,1.4-0.4,2.2-0.5c0.8-0.1,1.6-0.2,2.5-0.2
        c1.3,0,2.5,0.2,3.6,0.5c1.1,0.3,1.9,0.8,2.4,1.5c0.5,0.7,0.7,1.4,0.7,2.2c0,0.8-0.2,1.7-0.5,2.5c-0.1,0.4-0.4,1-0.7,1.8l-3.6,9.1
        c-0.5,1.3-1,2.6-1.5,4c-1.2,0-2.1,0-3,0c-1.1,0-2.3,0-3.4,0c0.5-1.2,1.4-3.3,2.6-6.3c1.2-3,1.9-5,2.3-5.9c0.4-1.1,0.5-2,0.3-2.6
        c-0.1-0.7-0.5-1.2-1.2-1.5c-0.7-0.3-1.4-0.5-2.3-0.5c-0.9,0-1.8,0.2-2.6,0.5c-0.9,0.3-1.7,0.8-2.5,1.4c-0.8,0.6-1.5,1.4-2.2,2.3
        c-0.7,1-1.5,2.6-2.4,4.8c-0.8,2-1.9,4.6-3.1,7.9c-1.1,0-2.2,0-3.1,0C146.2,31.3,145.1,31.3,143.7,31.3"
      />
    </g>
    <!-- eslint-enable -->
    <polygon
      class="logo__bar"
      points="164.4,40.8 35.1,40.8 36.6,36.7 165.9,36.7"
    />
  </svg>
</template>

<script>
import { colors } from './options'

export default {
  name: 'SLogo',

  props: {
    color: {
      type: String,
      default: colors[0],
      validator (value) {
        return !value ||
          colors.includes(value) ||
          console.error(`Valid colors are: ${colors.join(',')}`)
      },
    },

    maxWidth: {
      type: String,
      default: null,
    },
  },

  computed: {
    classList () {
      const list = []

      if (this.color) list.push(`logo--${this.color}`)

      return list
    },
  },
}
</script>

<style lang="scss">
.logo {
  $logo-colors: 'white', 'night', 'grey';
  $parent: &;

  display: block;
  height: 100%;
  min-height: spacing('half');

  &__text {
    fill: color('night');
  }

  &__bar {
    fill: color('blue');
  }

  @each $color in $logo-colors {
    &--#{$color} {
      #{$parent}__text,
      #{$parent}__bar {
        fill: color(#{$color});
      }
    }
  }
}
</style>
